// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex{
  display :flex;
  align-items: center;
}

.flex strong {
  margin-right: 0.5px;
}

table{
  table-layout: auto;
  width: 50%;
}
 
.flash-message.notice {
  color: green;
}

.alert{
  background-color: red;
  color: white;
}
